<!DOCTYPE html>
<html>
  <head>
    <title>appreciation.app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-white black-80 tc pv4 avenir">
      <h2 class="mt2 mb0 f6 fw4 ttu tracked"><%= yield :subtitle %></h2>
    </header>

    <main>
      <div class="flex flex justify-center ma2 tc br2 pa2">
        <h2 class="link b f3 f2-ns dim black-70 lh-solid"><%= yield :heading %></h2>
      </div>
      <%= yield %>
      <footer class="vh-100 dt w-100">
        <div class="dtc v-mid tc white ph3 ph4-l">
          <%= yield :bottom_nav %>
        </div>
      </footer>
    </main>
  </body>
</html>
